# Loading data

In [104]:
import pandas as pd

df = pd.read_csv('../data/raw/listings.csv')
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3.636010e+05,NaN,2.025031e+13,2025-03-06,previous scrape,NaN,NaN,NaN,https://a0.muscache.com/pictures/38669984/67b5...,1837053.0,...,4.67,4.54,NaN,NaN,f,NaN,1.0,NaN,0.0,NaN
1,3.997720e+05,https://www.nocarz.pl/rooms/399772,NaN,NaN,city scrape,Rocafort nice & bright 3 stops away Pza Cataluña,"Comfortable, nice and central two bedroom ap...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,1995385.0,...,4.92,4.75,4.74,HUTB-001948,f,NaN,3.0,0.0,NaN,1.18
2,4.023690e+05,https://www.nocarz.pl/rooms/402369,2.025031e+13,2025-03-11,NaN,Great 2 bedr flat close to Las Ramblas city ce...,Please send us a message to confirm availabili...,HAPPY NEIGHBOURHOOD<br />Located behind Paseo ...,https://a0.muscache.com/pictures/hosting/Hosti...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.07
3,4.563330e+05,NaN,2.025031e+13,2025-03-06,previous scrape,DOUBLE ROOM with WIFI,NaN,NaN,NaN,2268672.0,...,4.95,4.83,4.88,NaN,f,NaN,0.0,1.0,0.0,0.26
4,NaN,https://www.nocarz.pl/rooms/480975,2.025031e+13,2025-03-07,previous scrape,Cozy loft with a big terrace!,"Real cozy loft, at an old factory from the beg...",NaN,https://a0.muscache.com/pictures/104020703/cd4...,NaN,...,NaN,NaN,NaN,NaN,f,NaN,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,1.363774e+18,https://www.nocarz.pl/rooms/1363773735260420931,2.025031e+13,2025-03-11,city scrape,P2ESC1103 - Apartment Barrio Gotico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,HUTB-000000,f,83.0,83.0,0.0,NaN,NaN
1907,NaN,https://www.nocarz.pl/rooms/1364352946919862912,2.025031e+13,NaN,NaN,Apartment in Old Town 37,"Thanks to the central location of this home, y...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,180908619.0,...,NaN,NaN,NaN,NaN,NaN,16.0,6.0,10.0,0.0,NaN
1908,1.364400e+18,https://www.nocarz.pl/rooms/1364399851586707977,2.025031e+13,2025-03-06,city scrape,Flateli. Pelayo H7,This modern and bright penthouse is located in...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,10547296.0,...,NaN,NaN,NaN,HUTB-076868,NaN,50.0,NaN,0.0,0.0,NaN
1909,1.368636e+18,https://www.nocarz.pl/rooms/1368636039679683520,2.025031e+13,2025-03-07,NaN,AB Gaudí Urban Nest IV-I,This apartment has 2 double bedrooms and a dou...,"Eixample is Catalan for 'extension', meaning a...",https://a0.muscache.com/pictures/prohost-api/H...,4459553.0,...,NaN,NaN,NaN,HUTB-008145,f,NaN,182.0,0.0,0.0,NaN
1910,NaN,https://www.nocarz.pl/rooms/1364436964919537178,2.025031e+13,2025-03-06,NaN,Triple room | chic&basic Reding,You'll sleep better than at home! We love to p...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,432139206.0,...,NaN,NaN,NaN,HB-003893,t,NaN,0.0,3.0,0.0,NaN

# Reading information about the data

In [105]:
print('Data shape:', df.shape)

Data shape: (1911, 79)

In [106]:
print('List of columns:')
df.columns

List of columns:

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [107]:
print('Data description:')
df.describe(include='all')

Data description:

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.519000e+03,1516,1.509000e+03,1523,1556,1512,1461,780,1522,1.536000e+03,...,1111.000000,1122.000000,1112.000000,1000,1513,1507.000000,1538.000000,1531.000000,1555.000000,1121.000000
unique,NaN,1516,NaN,8,2,1502,1376,698,1517,NaN,...,NaN,NaN,NaN,558,2,NaN,NaN,NaN,NaN,NaN
top,NaN,https://www.nocarz.pl/rooms/1364436964919537178,NaN,2025-03-06,city scrape,Habitación privada en Barcelona,Our mission is to empower individuals to immer...,"Eixample is Catalan for 'extension', meaning a...",https://a0.muscache.com/pictures/miso/Hosting-...,NaN,...,NaN,NaN,NaN,Exempt,f,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,428,1206,3,18,10,2,NaN,...,NaN,NaN,NaN,415,926,NaN,NaN,NaN,NaN,NaN
mean,5.647987e+17,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,2.115746e+08,...,4.704167,4.758414,4.475612,NaN,NaN,50.750498,33.635891,13.719138,0.030225,1.348278
std,5.407685e+17,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,2.054804e+08,...,0.534317,0.353575,0.577212,NaN,NaN,104.778005,87.320393,57.257401,0.328386,1.710819
min,1.882670e+05,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.070400e+04,...,1.000000,1.000000,1.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.235801e+07,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.491738e+07,...,4.670000,4.670000,4.330000,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.200000
50%,6.448076e+17,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,1.522976e+08,...,4.870000,4.850000,4.595000,NaN,NaN,8.000000,2.000000,0.000000,0.000000,0.660000
75%,1.104224e+18,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,3.671728e+08,...,5.000000,5.000000,4.800000,NaN,NaN,38.000000,19.000000,2.000000,0.000000,2.010000
max,1.368636e+18,NaN,2.025031e+13,NaN,NaN,NaN,NaN,NaN,NaN,6.788518e+08,...,5.000000,5.000000,5.000000,NaN,NaN,483.000000,483.000000,399.000000,6.000000,20.260000

In [108]:
print('Data information:')
df.info(show_counts=True)

Data information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1519 non-null   float64
 1   listing_url                                   1516 non-null   object
 2   scrape_id                                     1509 non-null   float64
 3   last_scraped                                  1523 non-null   object
 4   source                                        1556 non-null   object
 5   name                                          1512 non-null   object
 6   description                                   1461 non-null   object
 7   neighborhood_overview                         780 non-null    object
 8   picture_url                                   1522 non-null   object
 9   host_id                                       1536 non-null   float64
 10  host_url                                      1549 non-null   object
 11  host_name                                     1533 non-null   object
 12  host_since                                    1523 non-null   object
 13  host_location                                 1189 non-null   object
 14  host_about                                    966 non-null    object
 15  host_response_time                            1268 non-null   object
 16  host_response_rate                            1261 non-null   object
 17  host_acceptance_rate                          1291 non-null   object
 18  host_is_superhost                             1475 non-null   object
 19  host_thumbnail_url                            1537 non-null   object
 20  host_picture_url                              1520 non-null   object
 21  host_neighbourhood                            717 non-null    object
 22  host_listings_count                           1508 non-null   float64
 23  host_total_listings_count                     1520 non-null   float64
 24  host_verifications                            1539 non-null   object
 25  host_has_profile_pic                          1546 non-null   object
 26  host_identity_verified                        1516 non-null   object
 27  neighbourhood                                 753 non-null    object
 28  neighbourhood_cleansed                        1507 non-null   object
 29  neighbourhood_group_cleansed                  1530 non-null   object
 30  latitude                                      1545 non-null   float64
 31  longitude                                     1533 non-null   float64
 32  property_type                                 1533 non-null   object
 33  room_type                                     1549 non-null   object
 34  accommodates                                  1559 non-null   float64
 35  bathrooms                                     1145 non-null   float64
 36  bathrooms_text                                1554 non-null   object
 37  bedrooms                                      1365 non-null   float64
 38  beds                                          1216 non-null   float64
 39  amenities                                     1512 non-null   object
 40  price                                         1222 non-null   object
 41  minimum_nights                                1569 non-null   float64
 42  maximum_nights                                1546 non-null   float64
 43  minimum_minimum_nights                        1534 non-null   float64
 44  maximum_minimum_nights                        1529 non-null   float64
 45  minimum_maximum_nights                        1525 non-null   float64
 46  maximum_maximum_nights                        1504 non-null   float64
 47  minimum_nights_avg_ntm                        1526 non-null   float64
 48  maximum_nights_avg_ntm                        1537 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              1446 non-null   object
 51  availability_30                               1504 non-null   float64
 52  availability_60                               1570 non-null   float64
 53  availability_90                               1563 non-null   float64
 54  availability_365                              1553 non-null   float64
 55  calendar_last_scraped                         1527 non-null   object
 56  number_of_reviews                             1518 non-null   float64
 57  number_of_reviews_ltm                         1503 non-null   float64
 58  number_of_reviews_l30d                        1496 non-null   float64
 59  availability_eoy                              1556 non-null   float64
 60  number_of_reviews_ly                          1510 non-null   float64
 61  estimated_occupancy_l365d                     1525 non-null   float64
 62  estimated_revenue_l365d                       1208 non-null   float64
 63  first_review                                  1101 non-null   object
 64  last_review                                   1118 non-null   object
 65  review_scores_rating                          1115 non-null   float64
 66  review_scores_accuracy                        1112 non-null   float64
 67  review_scores_cleanliness                     1097 non-null   float64
 68  review_scores_checkin                         1127 non-null   float64
 69  review_scores_communication                   1111 non-null   float64
 70  review_scores_location                        1122 non-null   float64
 71  review_scores_value                           1112 non-null   float64
 72  license                                       1000 non-null   object
 73  instant_bookable                              1513 non-null   object
 74  calculated_host_listings_count                1507 non-null   float64
 75  calculated_host_listings_count_entire_homes   1538 non-null   float64
 76  calculated_host_listings_count_private_rooms  1531 non-null   float64
 77  calculated_host_listings_count_shared_rooms   1555 non-null   float64
 78  reviews_per_month                             1121 non-null   float64
dtypes: float64(43), object(36)
memory usage: 1.2+ MB

In [109]:
df.isnull().sum().sort_values(ascending=False)

calendar_updated         1911
host_neighbourhood       1194
neighbourhood            1158
neighborhood_overview    1131
host_about                945
                         ...
availability_eoy          355
accommodates              352
availability_90           348
minimum_nights            342
availability_60           341
Length: 79, dtype: int64

## Checking ID column value occurrences

In [110]:
df.value_counts('id', sort=True, ascending=False, dropna=False)

id
NaN             392
9.897598e+17      1
9.852637e+17      1
9.848851e+17      1
9.847005e+17      1
               ...
4.052732e+07      1
4.041322e+07      1
4.039167e+07      1
4.036773e+07      1
4.096455e+07      1
Name: count, Length: 1520, dtype: int64

Only NaN value appeared more than once in ID column, which means this column doesn't give any useful information about the data.

# Cleaning data

## Dropping columns

### With more than 50% missing values

In [111]:
df = df.loc[:, df.isnull().mean() < 0.5]

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1519 non-null   float64
 1   listing_url                                   1516 non-null   object
 2   scrape_id                                     1509 non-null   float64
 3   last_scraped                                  1523 non-null   object
 4   source                                        1556 non-null   object
 5   name                                          1512 non-null   object
 6   description                                   1461 non-null   object
 7   picture_url                                   1522 non-null   object
 8   host_id                                       1536 non-null   float64
 9   host_url                                      1549 non-null   object
 10  host_name                                     1533 non-null   object
 11  host_since                                    1523 non-null   object
 12  host_location                                 1189 non-null   object
 13  host_about                                    966 non-null    object
 14  host_response_time                            1268 non-null   object
 15  host_response_rate                            1261 non-null   object
 16  host_acceptance_rate                          1291 non-null   object
 17  host_is_superhost                             1475 non-null   object
 18  host_thumbnail_url                            1537 non-null   object
 19  host_picture_url                              1520 non-null   object
 20  host_listings_count                           1508 non-null   float64
 21  host_total_listings_count                     1520 non-null   float64
 22  host_verifications                            1539 non-null   object
 23  host_has_profile_pic                          1546 non-null   object
 24  host_identity_verified                        1516 non-null   object
 25  neighbourhood_cleansed                        1507 non-null   object
 26  neighbourhood_group_cleansed                  1530 non-null   object
 27  latitude                                      1545 non-null   float64
 28  longitude                                     1533 non-null   float64
 29  property_type                                 1533 non-null   object
 30  room_type                                     1549 non-null   object
 31  accommodates                                  1559 non-null   float64
 32  bathrooms                                     1145 non-null   float64
 33  bathrooms_text                                1554 non-null   object
 34  bedrooms                                      1365 non-null   float64
 35  beds                                          1216 non-null   float64
 36  amenities                                     1512 non-null   object
 37  price                                         1222 non-null   object
 38  minimum_nights                                1569 non-null   float64
 39  maximum_nights                                1546 non-null   float64
 40  minimum_minimum_nights                        1534 non-null   float64
 41  maximum_minimum_nights                        1529 non-null   float64
 42  minimum_maximum_nights                        1525 non-null   float64
 43  maximum_maximum_nights                        1504 non-null   float64
 44  minimum_nights_avg_ntm                        1526 non-null   float64
 45  maximum_nights_avg_ntm                        1537 non-null   float64
 46  has_availability                              1446 non-null   object
 47  availability_30                               1504 non-null   float64
 48  availability_60                               1570 non-null   float64
 49  availability_90                               1563 non-null   float64
 50  availability_365                              1553 non-null   float64
 51  calendar_last_scraped                         1527 non-null   object
 52  number_of_reviews                             1518 non-null   float64
 53  number_of_reviews_ltm                         1503 non-null   float64
 54  number_of_reviews_l30d                        1496 non-null   float64
 55  availability_eoy                              1556 non-null   float64
 56  number_of_reviews_ly                          1510 non-null   float64
 57  estimated_occupancy_l365d                     1525 non-null   float64
 58  estimated_revenue_l365d                       1208 non-null   float64
 59  first_review                                  1101 non-null   object
 60  last_review                                   1118 non-null   object
 61  review_scores_rating                          1115 non-null   float64
 62  review_scores_accuracy                        1112 non-null   float64
 63  review_scores_cleanliness                     1097 non-null   float64
 64  review_scores_checkin                         1127 non-null   float64
 65  review_scores_communication                   1111 non-null   float64
 66  review_scores_location                        1122 non-null   float64
 67  review_scores_value                           1112 non-null   float64
 68  license                                       1000 non-null   object
 69  instant_bookable                              1513 non-null   object
 70  calculated_host_listings_count                1507 non-null   float64
 71  calculated_host_listings_count_entire_homes   1538 non-null   float64
 72  calculated_host_listings_count_private_rooms  1531 non-null   float64
 73  calculated_host_listings_count_shared_rooms   1555 non-null   float64
 74  reviews_per_month                             1121 non-null   float64
dtypes: float64(42), object(33)
memory usage: 1.1+ MB

### Unnecessary columns

In [113]:
df = df.copy()

columns_to_remove = [
    'id',
    'listing_url',
    'scrape_id',
    'last_scraped',
    'source',
    'picture_url',
    'host_id',
    'host_url',
    'host_name',
    'host_since',
    'host_location',
    'host_about',
    'host_has_profile_pic',
    'host_thumbnail_url',
    'host_picture_url',
    'host_listings_count',
    'host_total_listings_count',
    'host_verifications',
    'host_has_profile_pic',
    'neighbourhood_cleansed',
    'neighbourhood_group_cleansed'
]
df.drop(columns_to_remove, axis=1, inplace=True)
df.head()

,name,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,latitude,longitude,property_type,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,f,t,NaN,NaN,Entire rental unit,...,4.67,4.54,NaN,NaN,f,NaN,1.0,NaN,0.0,NaN
1,Rocafort nice & bright 3 stops away Pza Cataluña,"Comfortable, nice and central two bedroom ap...",within an hour,100%,99%,t,t,41.38268,2.15044,Entire rental unit,...,4.92,4.75,4.74,HUTB-001948,f,NaN,3.0,0.0,NaN,1.18
2,Great 2 bedr flat close to Las Ramblas city ce...,Please send us a message to confirm availabili...,within an hour,79%,24%,NaN,NaN,41.38035,2.17821,Entire rental unit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.07
3,DOUBLE ROOM with WIFI,NaN,NaN,NaN,NaN,f,t,41.39937,NaN,Private room in rental unit,...,4.95,4.83,4.88,NaN,f,NaN,0.0,1.0,0.0,0.26
4,Cozy loft with a big terrace!,"Real cozy loft, at an old factory from the beg...",NaN,NaN,NaN,NaN,t,41.37227,2.16574,Private room in loft,...,NaN,NaN,NaN,NaN,f,NaN,0.0,1.0,0.0,NaN

In [114]:
print('Data description:')
df.describe(include='all')

Data description:

,name,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_identity_verified,latitude,longitude,property_type,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1512,1461,1268,1261,1291,1475,1516,1545.000000,1533.000000,1533,...,1111.000000,1122.000000,1112.000000,1000,1513,1507.000000,1538.000000,1531.000000,1555.000000,1121.000000
unique,1502,1376,4,47,79,2,2,NaN,NaN,30,...,NaN,NaN,NaN,558,2,NaN,NaN,NaN,NaN,NaN
top,Habitación privada en Barcelona,Our mission is to empower individuals to immer...,within an hour,100%,100%,f,t,NaN,NaN,Entire rental unit,...,NaN,NaN,NaN,Exempt,f,NaN,NaN,NaN,NaN,NaN
freq,3,18,906,742,373,1155,1376,NaN,NaN,802,...,NaN,NaN,NaN,415,926,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.392682,2.167260,NaN,...,4.704167,4.758414,4.475612,NaN,NaN,50.750498,33.635891,13.719138,0.030225,1.348278
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.014190,0.017973,NaN,...,0.534317,0.353575,0.577212,NaN,NaN,104.778005,87.320393,57.257401,0.328386,1.710819
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.335310,2.101617,NaN,...,1.000000,1.000000,1.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.381410,2.156800,NaN,...,4.670000,4.670000,4.330000,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.200000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.391167,2.168040,NaN,...,4.870000,4.850000,4.595000,NaN,NaN,8.000000,2.000000,0.000000,0.000000,0.660000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.402190,2.177600,NaN,...,5.000000,5.000000,4.800000,NaN,NaN,38.000000,19.000000,2.000000,0.000000,2.010000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.452680,2.221830,NaN,...,5.000000,5.000000,5.000000,NaN,NaN,483.000000,483.000000,399.000000,6.000000,20.260000

## Converting price to numeric

In [115]:
df['price'].unique()

array([nan, '$178.00', '$217.00', '$309.00', '$128.00', '$71.00',
       '$173.00', '$125.00', '$56.00', '$152.00', '$25.00', '$50.00',
       '$216.00', '$54.00', '$140.00', '$157.00', '$226.00', '$130.00',
       '$150.00', '$259.00', '$224.00', '$289.00', '$161.00', '$288.00',
       '$196.00', '$156.00', '$354.00', '$80.00', '$207.00', '$114.00',
       '$154.00', '$297.00', '$179.00', '$198.00', '$230.00', '$246.00',
       '$60.00', '$277.00', '$276.00', '$635.00', '$214.00', '$247.00',
       '$118.00', '$103.00', '$176.00', '$195.00', '$365.00', '$301.00',
       '$136.00', '$91.00', '$113.00', '$89.00', '$115.00', '$223.00',
       '$120.00', '$199.00', '$102.00', '$107.00', '$122.00', '$500.00',
       '$248.00', '$30.00', '$255.00', '$251.00', '$232.00', '$28.00',
       '$1,111.00', '$190.00', '$201.00', '$299.00', '$101.00', '$108.00',
       '$313.00', '$172.00', '$169.00', '$143.00', '$185.00', '$425.00',
       '$43.00', '$19.00', '$104.00', '$160.00', '$362.00', '$98.00',
       '$85.00', '$510.00', '$205.00', '$137.00', '$131.00', '$95.00',
       '$203.00', '$70.00', '$47.00', '$24.00', '$134.00', '$181.00',
       '$324.00', '$188.00', '$73.00', '$93.00', '$66.00', '$44.00',
       '$348.00', '$119.00', '$96.00', '$163.00', '$110.00', '$367.00',
       '$45.00', '$300.00', '$88.00', '$229.00', '$40.00', '$105.00',
       '$258.00', '$168.00', '$208.00', '$293.00', '$59.00', '$430.00',
       '$106.00', '$242.00', '$58.00', '$57.00', '$285.00', '$227.00',
       '$266.00', '$220.00', '$482.00', '$67.00', '$65.00', '$189.00',
       '$318.00', '$186.00', '$790.00', '$100.00', '$159.00', '$400.00',
       '$41.00', '$231.00', '$34.00', '$124.00', '$213.00', '$420.00',
       '$35.00', '$730.00', '$434.00', '$180.00', '$177.00', '$210.00',
       '$489.00', '$76.00', '$142.00', '$90.00', '$200.00', '$126.00',
       '$432.00', '$244.00', '$249.00', '$117.00', '$175.00', '$211.00',
       '$87.00', '$46.00', '$86.00', '$265.00', '$20.00', '$174.00',
       '$182.00', '$239.00', '$78.00', '$155.00', '$325.00', '$75.00',
       '$384.00', '$81.00', '$192.00', '$55.00', '$171.00', '$61.00',
       '$307.00', '$153.00', '$294.00', '$569.00', '$467.00', '$68.00',
       '$32.00', '$135.00', '$164.00', '$149.00', '$250.00', '$29.00',
       '$112.00', '$129.00', '$94.00', '$261.00', '$132.00', '$82.00',
       '$146.00', '$133.00', '$222.00', '$271.00', '$51.00', '$187.00',
       '$241.00', '$1,924.00', '$97.00', '$523.00', '$165.00', '$84.00',
       '$399.00', '$109.00', '$550.00', '$69.00', '$127.00', '$218.00',
       '$64.00', '$193.00', '$556.00', '$184.00', '$202.00', '$170.00',
       '$158.00', '$148.00', '$243.00', '$278.00', '$272.00', '$234.00',
       '$36.00', '$92.00', '$151.00', '$72.00', '$270.00', '$527.00',
       '$166.00', '$53.00', '$235.00', '$212.00', '$419.00', '$316.00',
       '$228.00', '$221.00', '$320.00', '$33.00', '$340.00', '$31.00',
       '$37.00', '$268.00', '$225.00', '$99.00', '$344.00', '$1,044.00',
       '$197.00', '$147.00', '$111.00', '$83.00', '$209.00', '$204.00',
       '$350.00', '$27.00', '$138.00', '$52.00', '$253.00', '$305.00',
       '$240.00', '$48.00', '$167.00', '$39.00', '$364.00', '$42.00',
       '$49.00', '$121.00', '$215.00', '$339.00', '$77.00', '$23.00',
       '$262.00', '$123.00', '$139.00', '$144.00', '$574.00', '$447.00',
       '$460.00', '$141.00', '$310.00', '$74.00', '$14.00', '$62.00',
       '$315.00', '$194.00', '$183.00', '$38.00', '$295.00', '$298.00',
       '$219.00', '$454.00', '$560.00', '$206.00', '$26.00', '$917.00',
       '$424.00', '$63.00', '$79.00', '$145.00', '$1,000.00', '$750.00',
       '$1,671.00', '$283.00', '$267.00', '$274.00', '$116.00', '$398.00',
       '$16.00', '$1,900.00', '$1,301.00', '$2,113.00', '$479.00',
       '$1,209.00', '$302.00', '$417.00', '$911.00', '$370.00', '$314.00',
       '$7,714.00'], dtype=object)

In [116]:
df['price'] = df['price'].replace(r'[\$,]', '', regex=True).astype(float)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 55 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          1512 non-null   object
 1   description                                   1461 non-null   object
 2   host_response_time                            1268 non-null   object
 3   host_response_rate                            1261 non-null   object
 4   host_acceptance_rate                          1291 non-null   object
 5   host_is_superhost                             1475 non-null   object
 6   host_identity_verified                        1516 non-null   object
 7   latitude                                      1545 non-null   float64
 8   longitude                                     1533 non-null   float64
 9   property_type                                 1533 non-null   object
 10  room_type                                     1549 non-null   object
 11  accommodates                                  1559 non-null   float64
 12  bathrooms                                     1145 non-null   float64
 13  bathrooms_text                                1554 non-null   object
 14  bedrooms                                      1365 non-null   float64
 15  beds                                          1216 non-null   float64
 16  amenities                                     1512 non-null   object
 17  price                                         1222 non-null   float64
 18  minimum_nights                                1569 non-null   float64
 19  maximum_nights                                1546 non-null   float64
 20  minimum_minimum_nights                        1534 non-null   float64
 21  maximum_minimum_nights                        1529 non-null   float64
 22  minimum_maximum_nights                        1525 non-null   float64
 23  maximum_maximum_nights                        1504 non-null   float64
 24  minimum_nights_avg_ntm                        1526 non-null   float64
 25  maximum_nights_avg_ntm                        1537 non-null   float64
 26  has_availability                              1446 non-null   object
 27  availability_30                               1504 non-null   float64
 28  availability_60                               1570 non-null   float64
 29  availability_90                               1563 non-null   float64
 30  availability_365                              1553 non-null   float64
 31  calendar_last_scraped                         1527 non-null   object
 32  number_of_reviews                             1518 non-null   float64
 33  number_of_reviews_ltm                         1503 non-null   float64
 34  number_of_reviews_l30d                        1496 non-null   float64
 35  availability_eoy                              1556 non-null   float64
 36  number_of_reviews_ly                          1510 non-null   float64
 37  estimated_occupancy_l365d                     1525 non-null   float64
 38  estimated_revenue_l365d                       1208 non-null   float64
 39  first_review                                  1101 non-null   object
 40  last_review                                   1118 non-null   object
 41  review_scores_rating                          1115 non-null   float64
 42  review_scores_accuracy                        1112 non-null   float64
 43  review_scores_cleanliness                     1097 non-null   float64
 44  review_scores_checkin                         1127 non-null   float64
 45  review_scores_communication                   1111 non-null   float64
 46  review_scores_location                        1122 non-null   float64
 47  review_scores_value                           1112 non-null   float64
 48  license                                       1000 non-null   object
 49  instant_bookable                              1513 non-null   object
 50  calculated_host_listings_count                1507 non-null   float64
 51  calculated_host_listings_count_entire_homes   1538 non-null   float64
 52  calculated_host_listings_count_private_rooms  1531 non-null   float64
 53  calculated_host_listings_count_shared_rooms   1555 non-null   float64
 54  reviews_per_month                             1121 non-null   float64
dtypes: float64(38), object(17)
memory usage: 821.3+ KB

## Fixing missing values

### In property_type and room_type columns

In [118]:
# List every combination of values property_type and room_type columns
df.groupby(['property_type', 'room_type'], dropna=False).size().reset_index().rename(columns={0: 'count'})

                         property_type        room_type  count
0                                 Boat  Entire home/apt      1
1                            Camper/RV  Entire home/apt      2
2                         Entire condo  Entire home/apt     27
3                         Entire condo              NaN      5
4                   Entire guest suite  Entire home/apt      1
5                          Entire home  Entire home/apt     15
6                          Entire home              NaN      1
7                          Entire loft  Entire home/apt     17
8                          Entire loft              NaN      5
9                   Entire rental unit  Entire home/apt    642
10                  Entire rental unit              NaN    160
11           Entire serviced apartment  Entire home/apt     32
12           Entire serviced apartment              NaN      7
13                    Entire townhouse  Entire home/apt      3
14                Entire vacation home  Entire home/apt      1
15                        Private room     Private room      1
16                        Private room              NaN      1
17   Private room in bed and breakfast     Private room      7
18   Private room in bed and breakfast              NaN      3
19                Private room in boat     Private room      1
20           Private room in camper/rv     Private room      1
21     Private room in casa particular     Private room      5
22     Private room in casa particular              NaN      1
23               Private room in condo     Private room     20
24               Private room in condo              NaN      1
25               Private room in floor     Private room      1
26         Private room in guest suite     Private room      2
27                Private room in home     Private room     12
28                Private room in home              NaN      2
29              Private room in hostel     Private room     12
30              Private room in hostel              NaN      2
31                Private room in loft     Private room      4
32         Private room in rental unit     Private room    394
33         Private room in rental unit              NaN     85
34  Private room in serviced apartment     Private room      3
35              Room in boutique hotel       Hotel room      3
36              Room in boutique hotel     Private room      9
37              Room in boutique hotel              NaN      4
38                      Room in hostel       Hotel room      1
39                       Room in hotel     Private room     26
40                       Room in hotel              NaN      4
41          Room in serviced apartment       Hotel room      1
42          Room in serviced apartment              NaN      1
43               Shared room in hostel      Shared room      3
44               Shared room in hostel              NaN      2
45                           Tiny home  Entire home/apt      1
46                                Yurt  Entire home/apt      1
47                                 NaN  Entire home/apt    190
48                                 NaN     Private room    110
49                                 NaN              NaN     78

In [119]:
import numpy as np


df['room_type'] = df['room_type'].fillna(
    df.groupby('property_type')['room_type']
      .transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
)

df['property_type'] = df['property_type'].fillna(
    df.groupby('room_type')['property_type']
      .transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
)

In [120]:
df.groupby(['property_type', 'room_type'], dropna=False).size().reset_index().rename(columns={0: 'count'})

                         property_type        room_type  count
0                                 Boat  Entire home/apt      1
1                            Camper/RV  Entire home/apt      2
2                         Entire condo  Entire home/apt     32
3                   Entire guest suite  Entire home/apt      1
4                          Entire home  Entire home/apt     16
5                          Entire loft  Entire home/apt     22
6                   Entire rental unit  Entire home/apt    992
7            Entire serviced apartment  Entire home/apt     39
8                     Entire townhouse  Entire home/apt      3
9                 Entire vacation home  Entire home/apt      1
10                        Private room     Private room      2
11   Private room in bed and breakfast     Private room     10
12                Private room in boat     Private room      1
13           Private room in camper/rv     Private room      1
14     Private room in casa particular     Private room      6
15               Private room in condo     Private room     21
16               Private room in floor     Private room      1
17         Private room in guest suite     Private room      2
18                Private room in home     Private room     14
19              Private room in hostel     Private room     14
20                Private room in loft     Private room      4
21         Private room in rental unit     Private room    589
22  Private room in serviced apartment     Private room      3
23              Room in boutique hotel       Hotel room      3
24              Room in boutique hotel     Private room     13
25                      Room in hostel       Hotel room      1
26                       Room in hotel     Private room     30
27          Room in serviced apartment       Hotel room      2
28               Shared room in hostel      Shared room      5
29                           Tiny home  Entire home/apt      1
30                                Yurt  Entire home/apt      1
31                                 NaN              NaN     78

### In bathrooms column

In [121]:
df.value_counts('bathrooms', sort=True, ascending=False, dropna=False)

bathrooms
NaN     766
1.0     688
2.0     302
1.5      74
3.0      20
0.0      18
2.5      15
4.0      10
0.5       8
5.0       3
8.0       3
6.0       2
3.5       1
12.0      1
Name: count, dtype: int64

In [122]:
df.loc[:, 'bathrooms_text_num'] = df['bathrooms_text'].str.extract(r'(\d*\.?\d+)').astype(float)
df.loc[:, 'bathrooms'] = df['bathrooms'].fillna(df['bathrooms_text_num'])

df.drop(columns=['bathrooms_text_num', 'bathrooms_text'], inplace=True)

In [123]:
df.value_counts('bathrooms', sort=True, ascending=False, dropna=False)

bathrooms
1.0     1101
2.0      423
NaN      152
1.5      115
3.0       34
0.0       28
2.5       21
4.0       17
0.5        8
8.0        3
5.0        3
6.0        2
3.5        2
9.0        1
12.0       1
Name: count, dtype: int64